<div class="container-content-slider ">
    <div class="container-close">
        <button (click)="onClose()">
            <img src="icons/close.svg" class="" alt="close">
        </button>
    </div>
    <div class="container-links">
        <a routerLink='/home'>home</a>
        <a href="">hombre</a>
        <a href="">mujer</a>
        <a href="">sale</a>
        <div class="search">
            <input type="text"   placeholder="Buscar Producto">
            <button><img class="icon-search" src="icons/search.svg" alt=""></button>
        </div>
    </div>
</div>
