<app-categories></app-categories>

<!-- <app-filter></app-filter> -->
<app-products [products]="products" (productEventEmitter)="onAddCart($event)"></app-products>

<!-- Si es que hay algún elemento que contenga dentro de ITEMS, se mostrará -->

@if (items.length > 0) 
{ 
    <app-cart [items]="items"></app-cart>

} @else { 

    <!-- Si no hay ITEMS se mostrará un mensaje de ALERTA -->

    <div class="bg-cream border border-burgundy text-burgundy px-4 py-3 rounded relative" role="alert">
        <span class="block sm:inline">No hay elementos en el carro.</span>
      </div>
      
}
