.container-body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.container-carrousel{
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vw;
}
.container-carrousel-sale{
    width: 100%;
    height: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #E7F0DC; */
}
.container-subcription{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 750px) {
    .container-carrousel{
        height: 460px;
    }
    .container-carrousel-sale{
        height: 410px;
    }
}
@media (min-width: 1025px) {
    .container-carrousel{
        height: 530px;
    }
    .container-carrousel-sale{
        height: 410px;
    }
}