


  


<div class="container mx-auto px-4 py-6 flex lg:justify-center md:justify-center sm:justify-center justify-center mt-7">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <div *ngFor="let product of products; trackBy: trackByFn">
      <app-cart-products [product]="product" (productEventEmitter)="onAddCart($event)"></app-cart-products>
    </div>
  </div>
</div>



<!-- 
<div class="container mx-auto px-4 py-6 flex lg:justify-center md:justify-center sm:justify-center justify-center mt-7">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 ">
    <div *ngFor="let product of products; trackBy: trackByFn" class="overflow-hidden mb-16">
      <div class="block w-full text-left">
        <button  class="w-full h-80 object-cover mb-2 bottom-auto"  ><img [src]="product.src" alt="{{ product.name }}" class="w-full h-80 object-cover mb-2 bottom-auto"></button>
        <div class="min-h-[100px]">
          <h5 class="text-sm font-semibold mb-1 font-mono">{{ product.name }}</h5>
          <p class="text-green-500 font-bold text-xs font-mono">{{ product.price }}</p>
          <button class="bg-brick-red hover:bg-crimson text-white font-bold py-1 px-2 rounded mt-4 font-mono">+ Agregar</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
