<div class="p-4  shadow-sm">
  <div class="block w-full text-left">
    <button class="w-full h-80 object-cover mb-2 bottom-auto">
      <img [src]="product.src" alt="{{ product.name }}" class="w-full h-80 object-cover mb-2 bottom-auto">
    </button>
    <div class="min-h-[100px]">
      <h5 class="text-sm font-semibold mb-1 font-mono">{{ product.name }}</h5>
      <p class="text-green-500 font-bold text-xs font-mono">{{ product.price }}</p>
      <button class="bg-brick-red hover:bg-crimson text-white font-bold py-1 px-2 rounded mt-4 font-mono" (click)="onAddCart(product)">+ Agregar</button>
    </div>
  </div>
</div>
