.carousel {
  position: relative;
  width: 100%;
}
.carousel-inner {
  position: relative;
  overflow: hidden;
}
.carousel-item{
  width: 100%;
  transition: opacity 0.7s ease-in-out;
  opacity: 0;
  display: flex;
  justify-content: center;
}
.carousel-item.active {
  opacity: 1;
}
.carousel-item img{
  width: 100%;
  object-fit: cover;
}
.carousel-caption {
  position: absolute;
  bottom: 20px;
  /* left: 30%; */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel-caption h3 {
  font-size: 1rem;
  font-weight: bold;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  cursor: pointer;
  user-select: none;
}

@media (min-width: 500px) {
  .carousel-item img{
    max-width: 450px;
    max-height: 300px;
  }
  .carousel-caption h3 {
    font-size: 2.5rem;
  }
}
@media (min-width: 750px) {
  .carousel-item img{
    max-width: 600px;
    max-height: 400px;
  }
  .carousel-caption h3 {
    font-size: 3rem;
  }
}
@media (min-width: 1025px) {
  .carousel-item img{
    max-width: 920px;
    max-height: 550px;
  }
  .carousel-caption h3 {
    font-size: 3.5rem;
  }
} 