/* .carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
} */
 .carousel-container {
  position: relative;
  width: 80%;  /* Ajusta el ancho según el diseño de tu sitio */
  margin: auto;  /* Centra el carrusel horizontalmente */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Sombra suave para resaltar el carrusel */
  border-radius: 10px;  /* Bordes redondeados */
  overflow: hidden;  /* Oculta cualquier desbordamiento dentro del carrusel */
}

.carousel-slide img {
  display: block;  /* Elimina cualquier espacio extra alrededor de la imagen */
  width: 100%;  /* Asegura que la imagen cubra todo el ancho del contenedor */
  height: auto;  /* Mantiene la proporción de la imagen */
  border-radius: 10px;  /* Bordes redondeados para las imágenes */
}


.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
/* 
.carousel-slide img {
  width: 100%;
  display: block;
} */

button.prev, button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}
