<div class="relative w-auto">
    <div class="flex flex-wrap justify-center mt-8 space-x-4 md:space-x-16">
        <a href="" class="w-24 text-center mb-4">
            <img src="img/sale.png" alt="" class="mx-auto mb-2">
            <span class="text-crimson font-bold">Sale</span>
        </a>
        <a href="" class="w-24 text-center mb-4">
            <img src="img/polos.png" alt="" class="mx-auto mb-2">
            <span>Camisas</span>
        </a>
        <a href="" class="w-24 text-center mb-4">
            <img src="img/pantalon.png" alt="" class="mx-auto mb-2">
            <span>Pantalones</span>
        </a>
        <a href="" class="w-24 text-center mb-4">
            <img src="img/accesorios.png" alt="" class="mx-auto mb-2">
            <span>Accesorios</span>
        </a>
    </div>
</div>