<div class="container-header">
    <button class="menu-hamburguesa"(click)="toggleSlider()">
        <img src="icons/menu.svg" alt="logo">
    </button>
    <div class="container-links">
        <a href="">hombre</a>
        <a href="">mujer</a>
        <a href="">sale</a>
    </div>
    <div class="container-icons">
        <!-- <a href=""><img class="icon-search" src="icons/search.svg" alt=""></a> -->
        <div class="search-content">
            <input type="text" placeholder="Buscar producto">
            <button><img class="icon-search" src="icons/search.svg" alt=""></button>
        </div>
        <a href=""><img class="icon-person" src="icons/person.svg" alt=""></a>
        <a href=""><img class="icon-cart" src="icons/cart.svg" alt=""></a>
    </div>
</div>  
<div [ngClass]="{'show-slider': showSlider}" class="container-slider" *ngIf="showSlider">
    <app-slider (closeSlider)="toggleSlider()"></app-slider>
</div>