.container-links{
    display: none;
    
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: calc(100vw - 40px);
    /* width: 100vw; */
    background: #FFFFFF;
    margin: 0px 20px 0px 20px;
    position: relative;
}
.menu-hamburguesa{
    background: none;
    border: none;
}
.menu-hamburguesa img{
    width: 30px;
}
.container-icons{
    display: flex;
    align-items: center;
    width: auto;
    gap: 30px;
}
.container-icons a .icon-person{
    width: 40px;
    height: auto;
}
.container-icons .search-content{
    display: none;
}
.container-icons a .icon-cart{
    width: 30px;
    height: auto;
}


/* CSS para SliderComponent */
.container-slider {
    background: #E7F0DC;
    width: 300px;
    height: 100vh;
    position: absolute; /* Posicionamiento absoluto para que se sobreponga */
    top: 0; /* Alineado con la parte superior del viewport */
    left: 0; /* Alineado con el lado izquierdo */
    transform: translateX(-100%); /* Inicia fuera de la vista */
    transition: transform 0.3s ease; /* Suaviza la transición de entrada */
    z-index: 1000; /* Asegura que esté sobre otros elementos */
}

/* CSS para mostrar el slider */
.show-slider {
    transform: translateX(0); /* Mueve el slider a la vista */
}

@media screen and (min-width: 700px) {
    .menu-hamburguesa {
        display: none;
    }
    .container-slider{
        display: none;
    }
    .container-links{
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
    .container-links a{
        font-size: 20px;
        color: #587445;
        text-transform: uppercase;
    }
    .container-icons .search-content{
        display: flex;
        flex-direction: row-reverse;
        gap: 19px;
        border-bottom: #587445 2px solid;
    }
    .container-icons input{
        font-size: 20px;
        width: 150px;
    }
    .container-icons input::placeholder{
        color: #587445;
    }
}

@media screen and (min-width: 1000px) {
    .container-header {
        height: 150px;
        width: calc(100vw - 60px);
        margin: 0px 30px 0px 30px;
    }
    .container-icons input{
        font-size: 20px;
        width: 170px;
    }
    .container-links{
        gap: 40px;
    }
    .container-links a{
        font-size: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .container-header {
        height: 150px;
        width: calc(100vw - 200px);
        margin: 0px 100px 0px 100px;
    }
}