<div class="container-header ">
    <button class="menu-hamburguesa" (click)="toggleSliderHandler()">
        <img src="icons/menu.svg" alt="logo">
    </button>
    <div class="container-links">
        <a routerLink="/home">home</a>
        <a routerLink="/products" (click)="handlerCategorySex('hombre')">hombre</a>
        <a routerLink="/products" (click)="handlerCategorySex('mujer')">mujer</a>
        <a href="">sale</a>
    </div>
    <div class="container-icons relative">
        <div class="search-content">
            <input type="text" placeholder="Buscar producto">
            <button><img class="icon-search" src="icons/search.svg" alt=""></button>
        </div>
        <button (click)="togglePopupHandler()" class="relative">
            <img src="icons/person.svg" alt="icono de persona" class="icon-person">
            <div id="popup" [ngClass]="{'hidden': !showPopup}" class="absolute top-full right-0 text-green-dark bg-white border-green-dark rounded shadow-lg p-4 mt-2 w-72 z-50"(click)="preventClose($event)">   
            <login-modal (loginEventEmitter)="SubmitLogin($event)"></login-modal>
            </div>
        </button>
        <button><a href="#"><img class="icon-cart" src="icons/cart.svg" alt="" (click)="preventDefault($event)"></a></button>
    </div>
</div>
