<div class="container-header ">
    <button class="menu-hamburguesa" (click)="toggleSlider()">
        <img src="icons/menu.svg" alt="logo">
    </button>
    <div class="container-links">
        <a routerLink="/home">home</a>
        <a href="">hombre</a>
        <a href="">mujer</a>
        <a href="">sale</a>
    </div>
    <div class="container-icons relative">
        <div class="search-content">
            <input type="text" placeholder="Buscar producto">
            <button><img class="icon-search" src="icons/search.svg" alt=""></button>
        </div>
    
        <button (click)="togglePopup()" class="relative">
            <img src="icons/person.svg" alt="icono de persona" class="icon-person">
            <div id="popup" [ngClass]="{'hidden': !showPopup}" class="absolute top-full right-0 text-green-dark bg-white border-green-dark rounded shadow-lg p-4 mt-2 w-72 z-50">
                <h2 class="text-lg font-semibold mb-4">Seleccione una opción</h2>
                <button class="w-full mb-4 py-2 bg-green-dark text-white rounded-md">Recibir código de acceso por e-mail</button>
                <button class="w-full py-2 bg-green-dark text-white rounded-md">Entrar con e-mail y contraseña</button>
            </div>
        </button>




        <a routerLink="/cart-products">
            <img class="icon-cart" src="icons/cart.svg" alt="icono de carrito">
        </a>

        
    </div>
</div>
<div [ngClass]="{'show-slider': showSlider}" class="container-slider" *ngIf="showSlider">
    <app-slider (closeSlider)="toggleSlider()"></app-slider>
</div>
