<div class="carrousel-sale">
    <h1 >Sale por temporada</h1>
    <div class="container-cards">
      @for (card of visibleCards; track $index) {
      <ng-container>
        <div class="container-card">
          <div class="card">
            <h1>{{ card.text1 }}</h1>
            <p class="tipo-genero">{{ card.text2 }}<span>{{ card.text3 }}</span></p>
            <p class="numero">{{ card.discount }}<span>% Dscto.</span></p>
          </div>
          <img src="{{ card.src }}" alt="" class="img-card">
        </div>
      </ng-container>
    }
    </div>
  </div>
  