.subcription{
    background-color: #ffffff;
}
.card-subcription{
    background: #E7F0DC;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 30px 30px 30px;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.title-subcription{
    color: #587445;
    font-size: 30px;
    text-align: center;
}
.container-inputs{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.container-input-2{
    display: flex;
    flex-direction: row;
    width: 300px;
    gap: 10px;
}
.input-text{
    border-radius: 5px;
    width: 300px;
    color: #587445;
}
.inputs-title{
    color: #587445;
}
.input-submit{
    background-color: #ffffff;
    color: #587445;
    border: 1px solid #587445;
    border-radius: 10px;
    width: 200px;
    padding: 10px;
    cursor: pointer;
}
input:hover, input:focus{
    border: 2px solid #587445;
}

@media (min-width: 500px) {
    .card-subcription{
        border: 1px solid #587445;
        border-radius: 20px;
        width: 450px;
    }
}

@media (min-width: 750px) {
    .card-subcription{
        width: 600px;
    }
    .title-subcription{
        color: #587445;
        font-size: 35px;
        text-align: center;
    }
    .container-inputs{
        width: 500px;
    }
    .container-input-2{
        width: 500px;
    }
    .input-text{
        border-radius: 10px;
        width: 500px;
    }
}

@media (min-width: 1050px) {
    .card-subcription{
        width: 800px;
        border: 2px solid #587445;
    }
    .title-subcription{
        color: #587445;
        font-size: 40px;
        text-align: center;
    }
    .container-inputs{
        width: 700px;
    }
    .container-input-2{
        width: 700px;
    }
    .input-text{
        border-radius: 10px;
        width: 700px;
    }
    label,legend,input{
        font-size: 20px;
    }
    .input-submit{
        width: 200px;
        font-size: 25px;
        /* padding: 15px; */
    }
}