<div class="subcription">
    <div class="card-subcription">
      <h2 class="title-subcription">Suscríbete y recibe un 20% de dscto.</h2>
      <form [formGroup]="subscriptionForm" (ngSubmit)="onSubmit()">
        <div class="container-inputs">
          <label for="email" class="inputs-title">Email</label>
          <input type="email" id="email" formControlName="email" class="input-text">
        </div>
        <fieldset class="container-input-2">
          <legend class="inputs-title">Género</legend>
          <label class="inputs-title">
            <input type="radio" value="Masculino" formControlName="gender"> Masculino
          </label>
          <label class="inputs-title">
            <input type="radio" value="Femenino" formControlName="gender"> Femenino
          </label>
          <label class="inputs-title">
            <input type="radio" value="Otros" formControlName="gender"> Otros
          </label>
        </fieldset>
        <div class="container-inputs">
          <label for="dob" class="inputs-title">Fecha de nacimiento</label>
          <input type="date" id="dob" formControlName="dob" class="input-text">
        </div>
        <div class="container-input-2">
          <label class="inputs-title">
            <input type="checkbox" formControlName="dataAuthorization"> Autorización de uso de datos personales
          </label>
        </div>
        <button type="submit" class="input-submit">SUSCRIBIRME</button>
      </form>
    </div>
  </div>
  